
<div class="container">
	<h1 id="city_name"></h1>
	<h2 id="temperature"></h2>
	<p id="conditions"></p>
</div>

<%= javascript_tag do %>
	var pathArray = window.location.pathname.split( '/' );

	city = pathArray[2];
	if(!city){city = "SanFrancisco"}   

	$.ajax("/api/cities/"+city,{
	success: function(data){
	  $('#city_name').text(data['name']);
	  K = data['temperature'];
	  F = Math.round(K * 9/5 - 459.67)
	  C = Math.round((F-32)*5/9)
	  $('#temperature').text(F + ' F / ' + C + ' C');
	  $('#conditions').text(data['conditions']);
	},
	error: 
	function(data){
	  $('#city_name').text("Wrong city");
	  $('#temperature').text("try typing something else");
	 }
	});

<% end %>