.container{
	margin: auto; width: 33%; font-family: 'Source Sans Pro', sans-serif;
}
.card{
	padding: 40px 60px 50px 60px; background-color: #e8e8e8;margin-top: 40px
}
.info{
padding: 20px; 
} 
.info p{
	font-size: 1em;line-height: 2em;color:#888;
}
h1{font-size: 5em; color: #222;}
h2{font-size: 2.5em; color: #444;}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .container {
        width: 90%;
    }
    .card{ padding: 20px; }
    h1{font-size: 4em;}
    .info p{font-size: 0.9em;line-height: 1.8em;}
}

}